# Tarefa 01
#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [21]:
I e IIimport pandas as pd
import numpy as np

# Define o índice e os dados da série
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
dados = [-0.08, -0.27, 0.12, 0.03, 0.26, 0.40, 1.02]

# Cria a série
pd.Series(data=dados, index=indice)

1900   -0.08
1920   -0.27
1940    0.12
1960    0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [26]:
# Dicionário com os dados de temperatura
dic_temperaturas = {1900: -0.08, 1920: -0.27, 1940: 0.12, 1960: -0.03, 1980: 0.26, 2000: 0.40, 2020: 1.02}


# Cria a série a partir do dicionário
serie_temperaturas = pd.Series(dic_temperaturas)

#exibe a série

print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [75]:
import pandas as pd
import numpy as np

# Gera o array com distribuição normal / Esse código cria um DataFrame com 03 colunas e 20 linhas
arr = np.random.normal(100, 10, (20,3))

# Assim, o array arr é convertido em um DataFrame
df = pd.DataFrame(arr, columns=['coluna1', 'coluna2', 'coluna3'])

#exibe
print(df)

       coluna1     coluna2     coluna3
0    99.485568  107.277689  103.424039
1   103.105850  107.896776  102.844542
2   101.260637  107.227215   92.943321
3    95.319466  115.169044  100.806901
4    94.186593   79.332546   87.326463
5    99.705000  110.074623  109.050934
6    91.465148  101.732612   97.883616
7   111.605042   92.781832   98.392674
8    86.648326  111.172810   86.739383
9    92.009118  105.216843  109.991207
10   83.824806   89.058213   98.740175
11  108.859133   98.404137  117.007367
12  105.439682  110.159505  106.845431
13   87.965651  103.130296   89.459430
14   91.615594   94.346285  101.673835
15   82.588002   90.294252   92.959665
16   94.138941  104.499317  118.541219
17   85.347919   96.176177   90.385710
18   99.041881  109.661961   89.596347
19   98.196685   73.502794  105.658434

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [77]:
import pandas as pd
import numpy as np

# Transforma o array em um DataFrame, nomeando os índices e as colunas
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'], index=range(1, 21))

# Exibe o DataFrame
print(df)

            x1          x2          x3
1    99.485568  107.277689  103.424039
2   103.105850  107.896776  102.844542
3   101.260637  107.227215   92.943321
4    95.319466  115.169044  100.806901
5    94.186593   79.332546   87.326463
6    99.705000  110.074623  109.050934
7    91.465148  101.732612   97.883616
8   111.605042   92.781832   98.392674
9    86.648326  111.172810   86.739383
10   92.009118  105.216843  109.991207
11   83.824806   89.058213   98.740175
12  108.859133   98.404137  117.007367
13  105.439682  110.159505  106.845431
14   87.965651  103.130296   89.459430
15   91.615594   94.346285  101.673835
16   82.588002   90.294252   92.959665
17   94.138941  104.499317  118.541219
18   85.347919   96.176177   90.385710
19   99.041881  109.661961   89.596347
20   98.196685   73.502794  105.658434

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [79]:
# Criando a nova coluna 'media' com a média das três colunas
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)

# Exibindo o DataFrame
print(df)

            x1          x2          x3       media
1    99.485568  107.277689  103.424039  103.395766
2   103.105850  107.896776  102.844542  104.615723
3   101.260637  107.227215   92.943321  100.477058
4    95.319466  115.169044  100.806901  103.765137
5    94.186593   79.332546   87.326463   86.948534
6    99.705000  110.074623  109.050934  106.276852
7    91.465148  101.732612   97.883616   97.027125
8   111.605042   92.781832   98.392674  100.926516
9    86.648326  111.172810   86.739383   94.853506
10   92.009118  105.216843  109.991207  102.405723
11   83.824806   89.058213   98.740175   90.541065
12  108.859133   98.404137  117.007367  108.090212
13  105.439682  110.159505  106.845431  107.481539
14   87.965651  103.130296   89.459430   93.518459
15   91.615594   94.346285  101.673835   95.878571
16   82.588002   90.294252   92.959665   88.613973
17   94.138941  104.499317  118.541219  105.726492
18   85.347919   96.176177   90.385710   90.636602
19   99.041881  109.661961   89.596347   99.433396
20   98.196685   73.502794  105.658434   92.452637

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [81]:
# Criando a coluna 'log_med' com o logaritmo natural da coluna 'media'
df['log_med'] = np.log(df['media'])

# Exibindo o DataFrame resultante
print(df)

            x1          x2          x3       media   log_med
1    99.485568  107.277689  103.424039  103.395766  4.638564
2   103.105850  107.896776  102.844542  104.615723  4.650294
3   101.260637  107.227215   92.943321  100.477058  4.609929
4    95.319466  115.169044  100.806901  103.765137  4.642130
5    94.186593   79.332546   87.326463   86.948534  4.465316
6    99.705000  110.074623  109.050934  106.276852  4.666048
7    91.465148  101.732612   97.883616   97.027125  4.574991
8   111.605042   92.781832   98.392674  100.926516  4.614393
9    86.648326  111.172810   86.739383   94.853506  4.552334
10   92.009118  105.216843  109.991207  102.405723  4.628943
11   83.824806   89.058213   98.740175   90.541065  4.505804
12  108.859133   98.404137  117.007367  108.090212  4.682966
13  105.439682  110.159505  106.845431  107.481539  4.677319
14   87.965651  103.130296   89.459430   93.518459  4.538159
15   91.615594   94.346285  101.673835   95.878571  4.563083
16   82.588002   90.294252   92.959665   88.613973  4.484290
17   94.138941  104.499317  118.541219  105.726492  4.660855
18   85.347919   96.176177   90.385710   90.636602  4.506858
19   99.041881  109.661961   89.596347   99.433396  4.599488
20   98.196685   73.502794  105.658434   92.452637  4.526696

In [83]:
# Arredondando a média e o logaritmo para 2 casas decimais
df['media'] = df['media'].round(2)
df['log_med'] = df['log_med'].round(2)

# Exibindo o DataFrame resultante
print(df)

            x1          x2          x3   media  log_med
1    99.485568  107.277689  103.424039  103.40     4.64
2   103.105850  107.896776  102.844542  104.62     4.65
3   101.260637  107.227215   92.943321  100.48     4.61
4    95.319466  115.169044  100.806901  103.77     4.64
5    94.186593   79.332546   87.326463   86.95     4.47
6    99.705000  110.074623  109.050934  106.28     4.67
7    91.465148  101.732612   97.883616   97.03     4.57
8   111.605042   92.781832   98.392674  100.93     4.61
9    86.648326  111.172810   86.739383   94.85     4.55
10   92.009118  105.216843  109.991207  102.41     4.63
11   83.824806   89.058213   98.740175   90.54     4.51
12  108.859133   98.404137  117.007367  108.09     4.68
13  105.439682  110.159505  106.845431  107.48     4.68
14   87.965651  103.130296   89.459430   93.52     4.54
15   91.615594   94.346285  101.673835   95.88     4.56
16   82.588002   90.294252   92.959665   88.61     4.48
17   94.138941  104.499317  118.541219  105.73     4.66
18   85.347919   96.176177   90.385710   90.64     4.51
19   99.041881  109.661961   89.596347   99.43     4.60
20   98.196685   73.502794  105.658434   92.45     4.53